<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"
      ><h4>
        Store
        <span class="badge text-bg-primary"
          >Cart <i class="fa fa-cart-arrow-down" aria-hidden="true"></i
        ></span></h4
    ></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarCollapse"
      aria-controls="navbarCollapse"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="navbar-nav me-auto mb-2 mb-md-0"></div>
      <form class="d-flex">
        <input
          type="search"
          name="Search"
          class="form-control form-control-dark mr-2"
          placeholder="Search Product..."
          autocomplete="off"
          [(ngModel)]="searchKey"
          (keyup)="Search($event)"
          aria-label="Search"
        />

        <button routerLink="cart" type="button" class="btn btn-success cartbtn">
          <i class="fa fa-cart-arrow-down" aria-hidden="true"></i> Cart
          <i class="badge bg-dark">{{ totalItem }}</i>
        </button>
      </form>
    </div>
  </div>
</nav>
