<div class="row">
  <div class="card bg-light">
    <div class="card-body">
      <div class="card-img-actions">
        <img
          src="{{ props.image }}"
          class="card-img img-fluid img-thumbnail"
          alt=""
        />
      </div>
    </div>

    <div class="card-body text-center">
      <div class="mb-2">
        <h6 class="font-weight-semibold mb-2">
          <a href="#" class="text-default mb-2" data-abc="true">{{
            props.title
          }}</a>
        </h6>

        <a href="#" class="text-muted" data-abc="true">{{
          props.category | titlecase
        }}</a>
      </div>

      <h3 class="mb-0 font-weight-semibold">$ {{ props.price }}</h3>

      <div>
        <i *ngFor="let number of numbers" class="fa fa-star star"></i>
      </div>

      <div class="text-muted mb-3">{{ props.rating.count }} reviews</div>

      <button type="button" (click)="AddToCart(props)" class="btn bg-cart">
        <i class="fa fa-cart-plus mr-2"></i> Add to cart
      </button>
    </div>
  </div>
</div>
